.input-box{
    text-align: center;
    display: block;
    width: 200px;
    margin : auto;
    margin-top: 40px;
    margin-bottom: auto;
}
.loginBtn {
    text-align: center;
    display: block;
    width: 200px;
    margin : auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.72);
    color: #f8f8f2;
    border-radius: 0 0 4px 4px;
    margin-top: 10px;
    font-size: 20px;
}
.regBtn {
    margin :auto;
    text-align: center;
    display: block;
    width: 200px;
    margin : auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.72);
    color: #f8f8f2;
    border-radius: 0 0 4px 4px;
    margin-top: 10px;
    font-size: 20px;
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "main main aside"
        "main main aside";
}

header { grid-area: header; }
main   { grid-area: main;   }
aside  { grid-area: aside;  }
